<h3>Add Brands to <%= @store.name %></h3>

<% if @brands.any? %>
  <form action="/store/<%= @store.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <% @brands.each do |brand| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="brand_ids[]" value="<%= brand.id %>"><%= brand.name %>
        </label>
      </div>
    <% end %>
    <button type="submit">Add</button>
  </form>
  <br>
  <p><strong>Click <a href="/add_brand">here</a> to add more brands</strong></p>
<% else %>
  <p><em>there are no shoe brands added yet</em></p>
  <p><strong>Click <a href="/add_brand">here</a> to add a brand</strong></p>
<% end %>
